<h1>Pembayaran Berhasil!</h1>
<p>Akses Panel: <a href="<%= panelUrl %>"><%= panelUrl %></a></p>
<p>Username: <%= credentials.username %></p>
<p>Password: <%= credentials.password %></p>
<p>Email: <%= credentials.email %></p>
